.App {
  text-align: center;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  padding: 15px;
  &--card {
    background-color: white;
    padding: 15px;
  }
  &--header {
    display: flex;
    margin-bottom: 20px;
    &-img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    &-name {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-left: 20px;
      &-title {
        color: rgb(80, 80, 80);
        margin: 0;
      }
    }
  }
  &--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-link {
      color: lightgrey;
      text-decoration: none;
      font-size: 18px;
    }
  }
}
