//Pokemon
.pokemon-name {
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  margin: 0;
  padding: 5px;
  text-transform: capitalize;
}
.types {
  display: flex;
  padding: 5px;
}
.type-list {
  background-color: grey;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}
